/**
 *			Grassy Theme © A Million Pies
 */

body.scheme_grassy {
	font-family: "Trebuchet MS";
	font-size: 11pt;

	background-color: #C6EBA1;
	background-image: url("http://northwaygames.com/wp-content/uploads/band.png");
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-position: center bottom -50px;
}

.scheme_grassy #optionsDiv,
.scheme_grassy #changelogDiv {
	padding: 30px;

	background-color: #C6EBA1;
}

.scheme_grassy #gameContainerId,
.scheme_grassy .tabInner,
.scheme_grassy .btn {
	background: rgba(255, 255, 255, 0.2);
}

.scheme_grassy #headerLinks {
	background: none;
}

.scheme_grassy #resContainer,
.scheme_grassy #advisorsContainer,
.scheme_grassy #craftContainer,
.scheme_grassy #fastHuntContainer,
.scheme_grassy #fastPraiseContainer {
	padding-top: 5px;
	padding-bottom: 5px;

	border: 1px solid gray;
	background: rgba(255, 255, 255, 0.2);
}

.scheme_grassy #resContainer,
.scheme_grassy #advisorsContainer,
.scheme_grassy #fastHuntContainer,
.scheme_grassy #fastPraiseContainer {
	margin-bottom: 5px;
}

.scheme_grassy #footerLinks {
	background: rgba(223, 255, 225, 0.7);
	-webkit-box-shadow: 0 0 5px 5px rgba(223, 255, 225, 0.7);
			box-shadow: 0 0 5px 5px rgba(223, 255, 225, 0.7);
}

.scheme_grassy .btn:hover {
	background: inherit;
}

.scheme_grassy .btn.disabled:hover {
	background: rgba(255, 255, 255, 0.2);
	cursor: inherit;
}

.scheme_grassy a {
	text-decoration: none;

	color: #930;
}

.scheme_grassy a:hover {
	color: #cc4100;
}

.scheme_grassy .btn.modern a {
	color: #930;
}

.scheme_grassy .btn.modern a.enabled {
	color: initial;
}

.scheme_grassy #gameLog {
	margin-bottom: 20px;
}

.scheme_grassy .tabInner {
	margin-bottom: 10px;
	padding-bottom: 20px;
}

.scheme_grassy #gameContainerId {
	margin-bottom: 20px;
	padding-bottom: 15px;
}

.scheme_grassy #advisorsContainer {
	border: none;
	background: none;
}

.scheme_grassy #resContainer > table {
	border-collapse: collapse;
}

.scheme_grassy #resContainer > table > tr > td,
.scheme_grassy #craftContainer > table > tr > td {
	line-height: 140%;

	padding-right: 3px;
	padding-left: 3px;
}

.scheme_grassy #resContainer > table > tr.odd,
.scheme_grassy #craftContainer > table > tr.odd {
	background: rgba(255, 255, 255, 0.2);
}

.scheme_grassy .button_tooltip {
	left: 200px;

	background-color: #E1F5CF;
}

.scheme_grassy a.activeTab {
	font-weight: bold;
}

.scheme_grassy table > tr > td > * {
	margin-right: auto;
	margin-left: auto;
}
