/**
 *			Dark Theme
 */

.scheme_dark,
.scheme_dark .help {
	color: #DCDCDC;
	background-color: #201F1D;
}

.scheme_dark #autosaveTooltip {
	color: #DCDCDC;
}

.scheme_dark .btn {
	color: #DCDCDC;
	border: solid 1px rgb(184, 117, 58);
}

.scheme_dark .btn.disabled {
	color: #DCDCDC;
	border: solid 1px rgb(104, 66, 33);
}

.scheme_dark .btn:hover{
	border: solid 1px orange;
	/*background: inherit;*/
	background-color: #222222;
	
}

.scheme_dark ::-webkit-scrollbar-thumb {
    background: rgb(56, 54, 51);
	border-radius: 40px;
}

.scheme_dark ::-webkit-scrollbar-track {
    background: #201F1D;
    border-radius: 50px;
}

/*.scheme_dark .btn:hover span {
	text-shadow: -0.01ex 0 #DCDCDC, 0.01ex 0 #DCDCDC;
}

.scheme_dark .btn:hover span.limited {
	text-shadow: -0.06ex 0 #b32222, 0.06ex 0 #b32222;
}*/

.scheme_dark .btn.disabled {
	border: solid 1px #805326;
}

.scheme_dark .btn.disabled:hover {
	border: solid 1px #805326;
	cursor: inherit;
}

.scheme_dark .limited {
	color: #b32222;
}

.scheme_dark .highlited {
	background-color: #403F3D;
}

.scheme_dark a {
	color: #868686;
}

.scheme_dark a:hover {
	color: #969696;
	opacity: 1.0;
}

.scheme_dark div {
	color: #DCDCDC;
}
.scheme_dark .disabled div {
	color: #565656;
}

.scheme_dark .button_tooltip div {
	color: #DCDCDC;
}

.scheme_dark table {
	color: #DCDCDC;
}

.scheme_dark .activeTab {
	color: #DCDCDC;
}

.scheme_dark .button_tooltip {
	color: white;
	background-color: #201F1D;
}

.scheme_dark .maxRes {
	color: #555;
}

.scheme_dark .btn .noRes {
	color: #CF6060;
}

.scheme_dark td.resLimitWarn {
	color: coral;
}

.scheme_dark .btn.modern a {
	color: gray;
	background-color: #212121;
}

.scheme_dark .btn.modern a.enabled {
	color: #DCDCDC;
}

.scheme_dark table.craftTable tr:hover td {
	background-color: rgba(155, 250, 155, 0.2);
}

.scheme_dark #sorrowTooltip {
	color: white;
}

.scheme_dark input[type="button"] {
    cursor: pointer;
    background-color: #201F1D !important;
    cursor: pointer !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.3) !important;
    border: 1px solid grey !important;
    border-radius: 1px !important;
    outline: 0 !important;
    color: white;
    padding: 5px 20px;
}

.scheme_dark select,
.scheme_dark select>option{
    background-color: #201F1D;
    color: white;
}

.scheme_dark .res-cell.craft-link:hover {
    text-decoration: underline;
    text-shadow: -0.06ex 0 white, 0.06ex 0 white;
}

.scheme_dark .map-cell .label, .scheme_dark .map-cell .coord{
	color: #201F1D;
}

.scheme_dark .tooltip-content {
	background-color: #201F1D;
}